.container {
    display: flex;
    justify-content: center;
    color: white;
}

.wrapper {
    display: flex;
    min-height: 85vh;
    width: 80%;
    flex-direction: column;
    align-items: center;
}

.wrapper h1 {
    padding: 15px 0;
}

.items {
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
}

.itemContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: white;
    padding-bottom: 15px;
    text-align: center;
    height: 100%;
}
.itemContainer h2{
    font-size: 100%;
    color: white;
}
.descriptString{
    padding-right: 20px;
}
.button{
    font-size: 100%;
    color: black;
    background-color: #b3ba66;
    border-radius: 15px;
    padding: 5px;
}
.info{
    color: #b3ba66;
}

.item {
    font-size: 150%;
    height: 300px;
    width: 430px;
    background-position: center;
    background-size: cover;
    transition: 0.5s;
}


@media (max-device-width: 1020px) {

}

@media (max-device-width: 450px) {
    .item {
        height: 200px;
        width: 320px;
        background-position: center;
        background-size: cover;
        font-size: 100%;
    }
}