.wrapper {
   height: max-content;
    background-color: #f8f6ee;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
margin: 5px 0;
}

.items img {
    height: 50px;
    width: 50px;
    margin: 5px;
}
.items a:hover {
    transform: rotate(360deg);
}
.items img:hover {
    transform: rotate(360deg);
    transition: all 0.5s ease;
}

.allRights {
    font-size: x-small;
}
