.advBlock {
    min-height: 85vh;
    background-color: #f8f6ee;
    background-image: url('../../../assets/images/fon.jpg');
    background-position-x: 0;
    background-position-y: 0;
    width: 100%;
    background-size: 60vh;
    background-repeat: repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapper {
    background-color: #ffffff;
    color: #232a34;
    width: 70vw;
    min-height: 85vh;
}

.title {
    padding: 25px 0;
    height: max-content;
    width: 70vw;
    align-content: center;
    text-align: center;
}

.itemsBlock {
    height: max-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

@media (max-device-width: 1024px) {
    .advBlock {

    }
    .wrapper{

    }
    .itemsBlock {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}